<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        A Dream of the Future
      </h1>
    </header>

    <main>
      <% if (!user) { %>
        <p>Welcome! Please log in.</p>
        <form action="/login" method="post">
          <div>
            <label>Username:</label>
            <input type="text" name="username" /><br />
          </div>
          <div>
            <label>Password:</label>
            <input type="password" name="password" />
          </div>
          <div>
            <input type="submit" value="Submit" />
          </div>
        </form>    
      <% } else { %>
        <p>
          <b>Hello, <%= user.username %>.</b>
          <a href="/logout">Log out?</a>
          <br>
          Username: <%= user.username %>,
          Name: <%= user.displayName %>,
          <% if (user.emails) { %>
          Email: <%= user.emails[0].value %>,
          <% } %>
          ID: <%= user.id %>,
          Admin: <%= !!user.data.admin %>
          Data: <%= user.data.hits %>/<%= user.data.defaults %>
        </p>
      <% } %>
      
      <hr>

      <p class="bold">Oh hi, <%= user && user.displayName || 'stranger' %></p>
      
      <p>Tell me your hopes and dreams:</p>
      
      <form id="dreams_form">
        <input name="dream" type="text" maxlength="100" placeholder="Dreams!" aria-labelledby="submit-dream">
        <button type="submit" id="submit-dream">Submit Dream</button>
      </form>
      
      <section class="dreams">
        <ul id="dreams"></ul>
      </section>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
      <%= date %>
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
